* {
	-webkit-box-sizing: border-fox;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav {
	position: absolute;
	width: 100%;
	height: 70px;
	background-color: rgba(74,83,87,.7);
	margin: -21px -8.5px 1px -8.5px;
}

.nav li {
	color: white;
	font-size: 20px;
	font-family: Copperplate;
	display: inline;
	float: right;
	margin: 10px auto;
	margin-right: 6px;
	padding: 8px 7px 2px 7px;
	position: relative;
	bottom: 4px;
}

a.main_links:link {color:white}
a.main_links:visited {color:white}
a.main_links:hover {color:black}

.profile {
	position: absolute; 
	width: 100%;
	height: 240px;
	top: 100px;
	margin: 0px -8.5px 1px -8.5px;
}

.profile_pic {
	display: inline-block;
	width: 25%;
	height: 240px;
	position: absolute; 
	top: 0;
	left: 0;
	background-image: url("images/profile_pic.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.name {
	display: inline-block;
	width: 75%;
	height: 240px;
	background-color: rgba(180,132,132,.1);
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Brush Script', Herculanum, Copperplate;
	padding-left: 15px;
}

.notes {
	position: relative;
	width: 100%;
	top: 500px;
	border: 1px solid black;
}

