* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: rgba(74,83,87,.7);
}

.container {
	position: absolute;
	right: 0;
	height: 70px;
}

.container li {
	font-family: Copperplate;
	font-size: 20px;
	color: white;
	display: inline;
	margin-right: 15px;
	line-height: 2;
}

a.main_links:link {color: white}
a.main_links:visited {color: white}
a.main_links:hover {color: white}

.header {
	position: relative;
	height: 300px;
	box-shadow: 0px 13px 0px 0px rgba(74,83,87,0.7);
}

.header .logo {
	position: absolute;
	left: 0;
	height: 300px;
	width: 33%;
	background: url(images/logo.jpg);
	background-size: cover;
}

.header .name {
	position: absolute;
	left: 33%;
	height: 300px;
	width: 34%;
	font-family: American Typewriter;
	color: rgb(55,55,55);
	font-size: 5em;
	text-align: center;
	line-height: 0.875;
	background-color: rgba(180,132,132,.1);
}

.header .quote {
	position: absolute;
	right: 0;
	height: 300px;
	width: 33%;
	font-family: Papyrus;
	background-color: rgba(180,132,132,.1);
	text-align: center;
}

.textbox {
	position: relative;
	line-height: 2;
}

.author {
	margin: 0
}

.interests {
	position: relative;
	height: 1400px;
	width: 100%;
	margin-top: 100px;
}

.interests .box {
	position: relative;
	height: 300px;
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
}

.box:hover {
	opacity: 0.7;
}

#travel {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(images/travel_cover.jpg);
	background-size: cover;
	background-position: center left;
}

#chemistry {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(images/chemistry_cover.jpg);
	background-size: cover;
	background-position: center left;
}

#fitness {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(images/fitness_cover.jpg);
	background-size: cover;
	background-position: center left;
}

#food {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(images/food_cover.jpg);
	background-size: cover;
	background-position: center left;
}

.interests h4 {
	position: relative;
	font-size: 35px;
	margin: 0;
	line-height: 8.5;
	color: white;
	font-family: American Typewriter;
	-webkit-text-stroke: 1.5px black;
}

.link_spanner {
	position:absolute;
	width:100%;
	height:300px;
	top:0;
	left: 0;
	z-index: 1;
}
