.nav {
	position: absolute;
	width: 100%;
	height: 70px;
	background-color: rgba(74, 83, 87,.7);
	margin: -21px -9px 1px -8px;
}

.nav li {
	color: white;
	font-size: 20px;
	font-family: Copperplate;
	display: inline;
	float: right;
	margin: 10px auto;
	margin-right: 6px;
	padding: 8px 7px 2px 7px;
	position: relative;
	bottom: 4px;
}

a.main_links:link {color: white}
a.main_links:visited {color: white}
a.main_links:hover {color: black}


