/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Custom styles*/
body {
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #595959;
}

h1 {
  font-size: 48px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

a {
  text-decoration: none;
}

/*Links*/

a:hover {
  color: #a9b2b9;
}

a {
  color: #648880;
}

/*Grid*/
.container,
.grid {
  margin: 0 auto;
  width: 1100px;
}

.grid {
  margin-top: 100px;
}

.col-1-4 {
  width: 25%;
  float: right;
}

.col-3-4 {
  width: 75%;
}

.col-1-4,
.col-3-4 {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.grid,
.col-1-4,
.col-3-4 {
  padding-left: 15px;
  padding-right: 15px;
}

/*Typography*/
h1, h3, h4, p {
  margin-bottom: 22px;
}

/*Nav bar*/
.primary-nav {
  text-align: right;
  padding: 30px 0 30px 30px;
  text-transform: uppercase;
  letter-spacing: .2em;
  word-spacing: .25em;
}

a.link:hover {
  border-bottom: 1px solid #a9b2b9;
}

/*Header*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

header {
  text-align: center;
  background-color: #F5F4F0;
}

.logo {
  float: left;
  width: 200px;
  height: 200px;
  background: url(images/logo.jpg);
  background-size: cover;
  background-position: top left;
}

.title {
  margin-top: 60px;
  font-family: 'Rock Salt';
}

/*Entries*/
h2 {
  text-align: center;
  border-bottom: 1px solid #595959;
}

h3 {
  text-align: right;
  padding-top: 5px;
}

.image-horizontal {
  width: 760px;
  height: 500px;
  margin: 20px auto;
}

#image1 {
  background: url('images/6.15.15-1.jpg');
  background-size: cover;
}

#image2 {
  background: url('images/6.16.15-1.jpg');
  background-size: cover;
}

#image3 {
  background: url('images/6.16.15-2.jpg');
  background-size: cover;
}

/*Side pannel*/
article {
  border-left: 1px solid #595959;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.spacing > p {
  margin-bottom: 0;
}

.spacing {
  margin-bottom: 22px;
}

.spacing > a {
  display: block;
}

/*Footer*/
footer {
  text-align: center;
  padding-bottom: 30px;
}
